.maru_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.15vw;
    height: 1.15vw;
    margin: 0.3vw 0.15vw 0.3vw 0.15vw;
    border-radius: 50%;
    /* border: solid 0.1px rgb(109, 109, 109); */
    background-color: rgb(255, 255, 255);
}
.high_motivation {
    border-radius: 50%;
    /* border: solid 1px rgb(109, 109, 109); */
    background-color: #00835c;
}
.middle_motivation {
    border-radius: 50%;
    /* border: solid 1px rgb(109, 109, 109); */
    background-color: #00b17c;
}
.low_motivation {
    border-radius: 50%;
    /* border: solid 1px rgb(109, 109, 109); */
    background-color: #00e9a3;
}
.many_commits {
    width: 100%;
    height: 100%;
}
.few_commits {
    width: 60%;
    height: 60%;
}
