.container {
    display: flex;
    flex-direction: row;
}
.nav_container {
    width: 300px;
    height: 100vh;
}
.main_container {
    width: 73vw;
    margin-left: 23vw;
    margin-right: 3vw;
}
.four_card_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
